.preview {
    box-shadow: 0 0 0 1px var(--color-base-100) inset;
    background-image: repeating-linear-gradient(-45deg, var(--color-base-100), var(--color-base-100) 13px, var(--color-base-200) 13px, var(--color-base-200) 14px);
    background-size: 40px 40px;
}

.border-base-content\/5 {
    border-color: color-mix(in oklab, var(--color-base-content) 5%, transparent);
}

.glass-v2 {
    -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
    backdrop-filter: blur(var(--glass-blur, 40px));
    background-color: #0000;
    background-image: linear-gradient(135deg, oklch(100% 0 0/var(--glass-opacity, 30%)), #0000);
    text-shadow: 0 1px oklch(0% 0 0 / var(--glass-text-shadow-opacity, 5%));
    border: none;
}